html, body {
    height:100%;
    margin:0
}
.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #006666;
    color: #e6ffff;
    overflow:hidden;
    text-align: center;
}

.container h1 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #DDCCEE;
    margin: 90px;
}

.container form{
    margin: 30px;

}

.container input{
    width: 350px;
    height: 20px;
    font-size: 15px;
    margin: 5px;
    padding: 20px;
    transition: all 0.2s ease-in-out;
}

.container button{
    width:70px;
    height: 40px;
    background-color: steelblue;
    margin: 5px;
}

.container p{
    margin: 150px;
    font-size: 30px;
}

.message {
    font-size: 15px;
    color: #ff9999;
}